:root {
  --accent-color: #2196f3;
  --text-color: #212121;
  --paragraph-color: #757575;
  --team-color: #f5f4fa;
  --footer-color: #2f303a;
  --white-color: #ffffff;
  --gray-color: rgba(255, 255, 255, 0.6);
  --shadow-color: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow-color: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--paragraph-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  max-width: 1200px;
  padding-left: 0px;
  padding-right: 0px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* HEADER */

.logo {
  font-family: Raleway;
  font-weight: bold;
  color: var(--accent-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-left: 0;
  text-shadow: var(--shadow-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.navigation-container {
  color: var(--text-color);
  margin-left: 93px;
}

.btn-filter-list .list {
  display: flex;
  gap: 8px;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}

.header-links {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin: auto;
}

.logo-header {
  color: var(--text-color);
}

.logo-footer {
  color: var(--team-color);
}

.hiding {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus,
.current {
  color: var(--accent-color);
}

/* PORTFOLIO */

.portfolio,
.portfolio-btn {
  display: flex;
  justify-content: center;
}

.size-btn {
  padding: 6px 22px;
}

.ret-section {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.btn-filter-list {
  padding-top: 94px;
  padding-bottom: 50px;
}

.portfolio-container {
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  padding: 0;
}

.portfolio-item {
  padding: 7px;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((300% - 270px) / 9);
}

/* ABOUT */

.about {
  display: flex;
  justify-content: center;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  padding: 0;
}

.about-item {
  padding: 10px;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.about-title {
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-color);
  text-transform: uppercase;
}

/* HERO */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--footer-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

.hero-btn {
  display: flex;
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: var(--box-shadow-color);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
}

/* WORK */

.work-container {
  padding-bottom: 94px;
}

.setction-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  padding: 0;
}

.work-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.work {
  display: flex;
  justify-content: center;
}

/* TEAM */

.team {
  background: var(--team-color);
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  padding: 0;
}

.team-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.team {
  display: flex;
  justify-content: center;
}

.after-title {
  font-weight: 500;
  color: var(--text-color);
}

.pre-title,
.after-title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  padding: 5px;
}

.team-name {
  margin: 25px;
}

/* MAIN */

.focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 500;
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
}

.main-btn {
  border: none;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--text-color);
  border-radius: 4px;
}

.main-btn:hover,
.main-btn:focus,
.current-btn {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.main-after-title {
  font-size: 16px;
  line-height: 1.87;
}

/* FOOTER */

.footer-links {
  margin: auto;
}

.footer {
  background: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

address {
  font-style: inherit;
  margin-top: 20px;
}

.footer-item {
  margin: 9px;
}

.footer-link {
  color: var(--team-color);
}

.footer-after-link {
  color: var(--gray-color);
}

.footer-link:hover,
.footer-after-link:hover,
.footer-link:focus,
.footer-pre-link:focus,
.footer-after-link:focus {
  color: var(--accent-color);
}
